pre.sh_sourceCode {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
}

pre.sh_sourceCode .sh_keyword { color:#028a9e;/*blue*/ font-weight: bold; }    /* language keywords */
pre.sh_sourceCode .sh_type { color:#9b5c8f;/*darkgreen*/ }                     /* basic types */
pre.sh_sourceCode .sh_usertype { color: teal; }                                /* user defined types */
pre.sh_sourceCode .sh_string { color:#ff6425;/*red*/ font-family: monospace; } /* strings and chars */
pre.sh_sourceCode .sh_regexp { color: orange; font-family: monospace; }        /* regular expressions */
pre.sh_sourceCode .sh_specialchar { color: pink; font-family: monospace; }     /* e.g., \n, \t, \\ */
pre.sh_sourceCode .sh_comment { color:#808080;/*brown*/ font-style: italic; }  /* comments */
pre.sh_sourceCode .sh_number { color: purple; }                                /* literal numbers */
pre.sh_sourceCode .sh_preproc { color:#028a9e;/* blue from darkblue #023550*/ font-weight: bold; }          /* e.g., #include, import */
pre.sh_sourceCode .sh_symbol { color:#04bfbf;/*darkred*/}                               /* e.g., <, >, + */
pre.sh_sourceCode .sh_function { color: #ffffff; font-weight: bold; }            /* function calls and declarations */
pre.sh_sourceCode .sh_cbracket { color:#ff6425; /*red*/; }                     /* block brackets (e.g., {, }) */
pre.sh_sourceCode .sh_todo { font-weight: bold; background-color: cyan; }      /* TODO and FIXME */

/* Predefined variables and functions (for instance glsl) */
pre.sh_sourceCode .sh_predef_var { color: #023550; }
pre.sh_sourceCode .sh_predef_func { color: #023550; font-weight: bold; }

/* for OOP */
pre.sh_sourceCode .sh_classname { color: teal; }

/* line numbers (not yet implemented) */
pre.sh_sourceCode .sh_linenum { color: black; font-family: monospace; }

/* Internet related */
pre.sh_sourceCode .sh_url { color:#028a9e;/*blue*/ text-decoration: underline; font-family: monospace; }

/* for ChangeLog and Log files */
pre.sh_sourceCode .sh_date { color:#028a9e;/*blue*/ font-weight: bold; }
pre.sh_sourceCode .sh_time, pre.sh_sourceCode .sh_file { color: #023550; font-weight: bold; }
pre.sh_sourceCode .sh_ip, pre.sh_sourceCode .sh_name { color:#9b5c8f; }

/* for Prolog, Perl... */
pre.sh_sourceCode .sh_variable { color:#9b5c8f; }

/* for LaTeX */
pre.sh_sourceCode .sh_italics { color:#9b5c8f; font-style: italic; }
pre.sh_sourceCode .sh_bold { color:#9b5c8f; font-weight: bold; }
pre.sh_sourceCode .sh_underline { color:#9b5c8f; text-decoration: underline; }
pre.sh_sourceCode .sh_fixed { color: green; font-family: monospace; }
pre.sh_sourceCode .sh_argument { color:#9b5c8f; }
pre.sh_sourceCode .sh_optionalargument { color: purple; }
pre.sh_sourceCode .sh_math { color: orange; }
pre.sh_sourceCode .sh_bibtex { color:#028a9e;/*blue*/ }

/* for diffs */
pre.sh_sourceCode .sh_oldfile { color: orange; }
pre.sh_sourceCode .sh_newfile { color:#9b5c8f; }
pre.sh_sourceCode .sh_difflines { color:#028a9e;/*blue*/ }

/* for css */
pre.sh_sourceCode .sh_selector { color: purple; }
pre.sh_sourceCode .sh_property { color:#028a9e;/*blue*/ }
pre.sh_sourceCode .sh_value { color:#9b5c8f; font-style: italic; }

/* other */
pre.sh_sourceCode .sh_section { color: black; font-weight: bold; }
pre.sh_sourceCode .sh_paren { color:#ff6425; }
pre.sh_sourceCode .sh_attribute { color:#9b5c8f; }
